option_settings:
  aws:elasticbeanstalk:application:environment:
    RAILS_ENV: production
    RACK_ENV: production
  aws:elasticbeanstalk:command:
    Timeout: 1800

container_commands:
  01_db_migrate:
    command: "bundle exec rake db:migrate"
    leader_only: true
  02_restart_puma:
    command: "sudo systemctl restart puma.service || true"