packages:
  yum:
    git: []
    
commands:
  install_bundler:
    command: "gem install bundler -v 2.6.2"
    
option_settings:
  aws:elasticbeanstalk:application:environment:
    BUNDLE_WITHOUT: test:development
    BUNDLE_DEPLOYMENT: true
    BUNDLE_PATH: vendor/bundle
    RAILS_SKIP_ASSET_COMPILATION: false
    RAILS_SKIP_MIGRATIONS: false